In [1]:
# PySpark Imports
from pyspark.sql.session import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T

# Regular Python imports
import os
import sys

In [ ]:
# System paths
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

# Creating a Spark Session
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [10]:
## read the dataset
df = spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)

## Check the schema
df.printSchema()

## Other way to read
df = spark.read.csv('test1.csv', header=True, inferSchema=True)

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [11]:
## Get all column names
df.columns

['Name', 'age', 'Experience']

In [12]:
## Get first rows in a list format
df.head(3)

[Row(Name='Krish', age=31, Experience=10),
 Row(Name='Sudhanshu', age=30, Experience=8),
 Row(Name='Sunny', age=29, Experience=4)]

In [ ]:
## Select specific column
df.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
+---------+